body {
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 2em;
  text-align: start;
}

.logo {
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  position: absolute;
  top: 0;
}

ul {
  list-style-type: none;
}

header {
  padding: 20px;
}

.logo a {
  display: block;
}

.logo img {
  max-width: 45%;
  max-height: 30%;
  margin-left: 90px;
}

li a {
  color: white;
  display: flex;
  text-decoration: none;
  padding: 20px;
  font-size: 25px;
}

h1 {
  text-align: center;
  color: #f314c1;
  font-size: 25px;
}

h2 {
  text-align: center;
  color: white;
  font-size: 15px;
}

h3 {
  color: white;
}

footer {
  background-color: #f314c1;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  margin-top: 0;
}

.wrapper {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  background: #f314c1;
  transition: all 0.6s ease-in-out;
  opacity: 0.93;
}

.wrapper ul {
  padding: 40%;
}

.wrapper li a:hover {
  color: #5224bb;
}

#active:checked ~ .wrapper {
  right: 0;
}
.menu-btn {
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 2px solid #b42f62;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
  transform: translateY(-8px);
}

.menu-btn:after {
  transform: translateY(8px);
}

.close {
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background 0.6s;
}

#active:checked + .menu-btn span {
  transform: scaleX(0);
}

#active:checked + .menu-btn:before {
  transform: rotate(45deg);
  border-color: #fff;
}

#active:checked + .menu-btn:after {
  transform: rotate(-45deg);
  border-color: #fff;
}

input[type="checkbox"] {
  display: none;
}

.fa {
  padding: 20px;
  text-align: center;
  margin: 5px 2px;
  font-size: 25px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.fa-facebook {
  background: #5224bb;
  color: white;
}
.fa-twitter {
  background: #5224bb;
  color: white;
}

.fa-linkedin {
  background: #5224bb;
  color: white;
}
.fa-instagram {
  background: #5224bb;
  color: white;
}
.fa-youtube {
  background: #5224bb;
  color: white;
}
.fa:hover {
  opacity: 0.8;
}

#title-Tag-Line {
  font-size: 20px;
}

.form {
  background: #f314c1;
  border-radius: 5px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  border-top: 5px solid #280e73;
}

::-webkit-input-placeholder {
  font-size: 1.3em;
}

.title {
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 200px;
}
.termsConditions {
  margin: 0 auto 5px 80px;
}

.pageTitle {
  font-size: 2em;
  font-weight: bold;
  color: #280e73;
}

.secondaryTitle {
  color: #280e73;
}

.name {
  background-color: #ebebeb;
  color: #f314c1;
}

.email {
  background-color: #ebebeb;
  color: #f314c1;
  height: 2em;
}

.message {
  background-color: #ebebeb;
  color: #f314c1;
  overflow: hidden;
  height: 10rem;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 250px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit {
  width: 100px;
  color: white;
  background-color: #b42f62;
  font-size: 20px;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 150px;
  border-top: 5px solid #0e3750;
  border-radius: 0%;
}

@keyframes bounce {
  0% {
    tranform: translate(0, 4px);
  }
  50% {
    transform: translate(0, 8px);
  }
}

@media screen and (min-width: 600px) {
  body {
    background-size: cover;
    height: 100%;
    min-height: 100%;
    margin: 0;
    gap: 2em;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0;
  }

  li a {
    font-size: 25px;
    color: #f314c1;
  }

  .wrapper li a:hover {
    color: white;
  }

  h1 {
    text-align: center;
    color: #f314c1;
    font-size: 70px;
  }

  h2 {
    text-align: center;
    color: white;
    font-size: 20px;
  }

  .logo {
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    position: absolute;
    top: 0;
    margin: 0%;
  }

  .logo img {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
  }

  .menu-btn {
    display: none;
  }

  .wrapper {
    display: contents;
  }

  .close {
    display: none;
  }

  .wrapper ul {
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  footer {
    background-color: #f314c1;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    margin-top: 500px;
  }

  #title-Tag-Line {
    font-size: 20px;
  }

  .form {
    background: #f314c1;
    box-shadow: 0 30px 60px 0 #5224bb;
    border-radius: 5px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
    border-top: 5px solid #280e73;
    animation: bounce 1.5s infinite;
  }

  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }

  .title {
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
  }
  .termsConditions {
    margin: 0 auto 5px 80px;
  }

  .pageTitle {
    font-size: 2em;
    font-weight: bold;
    color: #280e73;
  }

  .secondaryTitle {
    color: #280e73;
  }

  .name {
    background-color: #ebebeb;
    color: #f314c1;
  }

  .email {
    background-color: #ebebeb;
    color: #f314c1;
    height: 2em;
  }

  .message {
    background-color: #ebebeb;
    color: #f314c1;
    overflow: hidden;
    height: 10rem;
  }

  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
  }

  .submit {
    width: 200px;
    color: white;
    background-color: #b42f62;
    font-size: 20px;
  }

  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #0e3750;
    border-radius: 0%;
  }
}
